---
import Logo from "./Logo.astro";
const {} = Astro.props;
---

<header class="header-wrapper">
  <section>
    <nav>
      <a href="/" class="active">home</a>
    </nav>
    <section class="socials">
      <a
        class="social github"
        href="https://github.com/toyamarinyon"
        target="_blank"
      >
        <img src="/assets/github.png" />
      </a>
      <a class="social" href="https://twitter.com/toyamarinyon" target="_blank">
        <img src="/assets/twitter.png" />
      </a>
    </section>
  </section>
</header>

<style>
  header {
    margin-left: auto;
    margin-right: auto;
    max-width: 52em;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }
  article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .header-subitem {
    display: flex;
    flex-grow: 0;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    color: var(--theme-text-lighter);
    font-size: initial;
    padding: 0.5rem;
  }
  .header-subitem:hover {
    color: var(--theme-accent);
  }
  .header-subitem svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  @media (max-width: 32em) {
    .header-subitem {
      display: none;
    }
  }

  h1 {
    margin: 0;
    font-size: 1.5rem;
    max-width: 100%;
    display: flex;
    flex-grow: 1;
  }

  .logo {
    transform: translateY(0.25rem);
  }

  /* svg {
		width: 2.5rem;
		height: 2.5rem;
	} */

  h1 a {
    text-decoration: none;
    display: inline-flex;
  }
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav a {
    text-transform: capitalize;
  }
  nav a.active {
    font-weight: bold;
    text-decoration: underline;
  }
  .social img {
    height: 1.4rem;
  }
  .social.github img {
    height: 1.6rem;
  }
  .socials a + a {
    margin-left: 1.4rem;
  }
</style>
