---
import { Markdown } from "astro/components";
export interface Props {
  label: string;
}

const { label } = Astro.props;
function upperCaseFirst(string: string) {}
---

<div class={`callout ${label}`}>
  <h4>{label}</h4>
  <Markdown>
    <slot />
  </Markdown>
</div>

<style>
  h4 {
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .callout {
    padding: 1rem 1.5rem;
    border-radius: 4px;
  }
  .callout.tip {
    background-color: #eaf4ff;
    border: solid 1px #3c80ca;
  }
  .callout.note {
    background-color: #e5ffe7;
    border: solid 1px #72ae8b;
  }
  p {
    margin-bottom: 0.3rem;
  }
</style>
